        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

        }
        #magem_id{
            height: 100px;
            width: 100px;
        }
        div{
            text-align: center;
        }